body
{
	font-family: Verdana, Sans-serif, "Courier New";
	background-color: black;
}

a
{
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.page
{
	position: absolute;
	margin-left: 0px;
	top: 0px;
	width: 973px; /* 1024 - 0.05 * 1024 */
	height: 100%;
}

.innerbanner
{
	height: auto;
	background-color: black;
}

.innerpage
{
	margin-left: 0%;
	background-color: white;
}

.path
{
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 10px;
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
}

.content
{
	width: 973px;
	background-color: white;
	clear: both;
}

.footer
{
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 10px;
	width: 963px;
	background-color: white;
	clear: both;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	position: relative;
	top: 30px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
}

#bigtitle
{
	float: top;
	width: 500px;
	padding-top: 0.2em;
	margin-left: 0.3em;
	font-family: "Courier New";
	font-size: 50px;
	font-weight: bold;
	color: white;
	height: auto;
}

#littletitle
{
	float: top;
	width: 500px;
	padding-top: 0.2em;
	margin-left: 0.3em;
	font-family: "Courier New";
	font-size: 40px;
	font-weight: bold;
	color: white;
}

#topoptions
{
	float: top;
	clear: both;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.topoption
{
	float: left;
	margin-bottom: 3px;
	width: 90px;
	padding: 0px;
	height: auto;
	background-color: #898989;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.topoption:hover
{
	background-color: #AAAAAA;
}

.topoptiontext
{
	padding-left: 15px;
}