.postlist
{
	width: 953px;
	margin: 10px;
}

.post
{
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0.3em;
	border-style: solid;
	border-width: 1px;
}

.postheader
{
	float: top;
	font-size: 10px;
}

.pagepath
{
	font-size: 13px;
}

.postusername
{
	font-size: 15px;
}	

.personinfo
{
	float: left;
	border-style: none solid none none;
	border-width: 1px;
	padding: 0.3em;
	margin: 0px;
	border-color: black;
	text-align: left;
}

.postcontent
{
	float: right;
	padding: 0.3em;
	font-size: 15px;
	font-weight: normal;
	font-family: Verdana,Sans-serif,"Courier New";
}