body
{
	font-family: Verdana, Sans-serif, "Courier New";
	background-color: black;
}

a
{
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.page
{
	position: absolute;
	margin-left: 0px;
	top: 0px;
	width: 973px; /* 1024 - 0.05 * 1024 */
	height: 100%;
}

.innerbanner
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 150px;
}

.innerpage
{
	position: absolute;
	top: 150px;
	margin-left: 0%;
	width: 100%;
	background-color: white;
}

#leftcolumn
{
	float: left;
	left: 0;
	top: 0;
	width: 180px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.leftoption
{
	margin-bottom: 3px;
	width: 180px;
	padding: 0px;
}

.leftoptiontop
{
	background-image:url('../../images/leftmenutop.png');
	float: top;
	height: 5px;
}

.leftoptionbottom
{
	background-image:url('../../images/leftmenubottom.png');
	float: bottom;
	height: 5px;
}

.leftoptioninner
{
	background-color: #595959;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.leftoptioninner:hover
{
	background-color: #999999;
}

.leftoptiontext
{
	padding-left: 15px;
}

#centrecolumn
{
	float: left;
	width: 477px;
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

#rightcolumn
{
	float: right;
	width: 276px;
}

.footer
{
	font-family: Monospace;
	font-size: 10px;
}

#bigtitle
{
	position: absolute;
	top: 0.2em;
	margin-left: 0.3em;
	font-family: "Courier New";
	font-size: 50px;
	font-weight: bold;
	color: white;
}

#littletitle
{
	position: absolute;
	top: 1.5em;
	margin-left: 0.3em;
	font-family: "Courier New";
	font-size: 40px;
	font-weight: bold;
	color: white;
}