{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	Verse is a network protocol that lets multiple applications act together as one large application by sharing data over a network. If one application makes a change to shared data, the change is distributed instantly to all the other interested clients. The protocol and associated data format are both heavily optimized for sharing data suitable for 3D graphics.<br />
	For more information for Verse, please visit the <a href="/messageboard">forums</a> and ask questions.
{% endblock %}