{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	Verse is a network protocol for applications to work together on the same data, verse is heavily optimised towards sharing 3D data. Using verse different people can use whatever application they like to work collaboratively on something with someone on the other side of the globe.<br />
	For a more in depth explanation, see <a href="/what">What is Verse</a>, or to dive straight in with detailed technical data see the <a href="/documentation">documentation.</a>	for more information for Verse, please visit the <a href="/messageboard">forums</a> and ask questions.
{% endblock %}