{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	There are already several projects using/developing Verse, here are just a few:
	<ul>
		<li><a href="http://code.google.com/p/versesharp/">VerseSharp, implementing the verse protocol for C#</a></li>
		<li><a href="http://www.quelsolaar.com/">Love, a game using the Verse protocol</a></li>
		<li><a href="http://users.telenet.be/blendix/verse/">Verse python bindings</a></li>
		<li><a href="http://rubyforge.org/projects/rubyverse/">Verse ruby bindings</a></li>
		<li><a href="http://purple.blender.org/">Purple, a Verse "Computational Engine"</a>
		<li><a href="http://www.uni-verse.org/">Uni-Verse, now defunct verse development project</a></li>
	</ul>
	
	<a href="mailto:martindevans@gmail.com">Submit a project</a>
{% endblock %}