{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	Verse is a network protocol defined to let many applications act together as one. Using verse different applications can operate on the same data in realtime, operated by different users on different sides of the globe.<br />
	Verse defines a common format for 3D data which all applications can work in, enabling different artists to use different tools for different purposes. An artist in America could be using blender to edit a house while a programmer in England uses a custom built renderer to watch him edit the building in realtime, while a texture artist in Japan uses photoshop to apply textures. This is the power of verse.<br />
	Realtime collaboration can lead to rapid development of resources, an artist can view his asset in game, while the game is being played, as he edits it in a modelling platform of his choice.<br />
{% endblock %}