<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% block pagetitle %}{% endblock %}</title>
		{% if forum_use_default_style %}
			<link rel="stylesheet" type="text/css" href="/messageboard/files/forumstyle.css?text/css" />
			{% block style %}{% endblock %}
		{% else %}
			<link rel="stylesheet" type="text/css" href="{{ forum_stylepath }}" />
		{% endif %}
	</head>
	<body>
		<div class="page">
			<div class="innerbanner">
				<div id="bigtitle">	
					{% block bigtitle %}Messageboard{% endblock %}
				</div>
				<div id="littletitle">	
					{% block title %}Base Page{% endblock %}
				</div>
			</div>
			<div class="innerpage">
				<div class="row" id="topoptions">
					<div class="topoption">
						<a href="/">
							<div class="topoptiontext">Home</div>
						</a>
					</div>
					<div class="topoption">
						<a href="/messageboard">
							<div class="topoptiontext">Forum</div>
						</a>
					</div>
					<div class="topoption">
						<a href="/profile">
							<div class="topoptiontext">Profile</div>
						</a>
					</div>
					<div class="topoption">
						<a href="/messageboard/search">
							<div class="topoptiontext">Search</div>
						</a>
					</div>
					<div class="topoption">
						<a href="{{ accounthref }}">
							<div class="topoptiontext">{{ accountstring }}</div>
						</a>
					</div>
				</div>
				<div class="content">
					{% block content %}{% endblock %}
				</div>
				<div class="footer">
					Page built and maintained by <a href="http://martindevans.appspot.com">Martin Evans</a> <a href="mailto:martindevans@gmail.com">(Email me)</a>
					<br />
					<a href="/messageboard/admin">Administrate Messageboard</a>
				</div>
			</div>
		</div>
	</body>
</html>