{% extends "base.html" %}

{% block pagetitle %}Search for "{{ searchphrase }}", {{resultcount }} result{{ resultcount|pluralize }}{% endblock %}

{% block title %}Search Results{% endblock %}

{% block content %}
	<form name="searchform">
		<input type="text" name="searchbox" value="{{ searchphrase }}"/>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	Search for : {{ searchphrase }}<br />
	{{ results|length }} result{{ results|length|pluralize }}<br />
	
	{% for r in results %}
		{{ r.content|slice:":100" }}...<br />
	{% endfor %}
{% endblock %}