{% extends "base.html" %}

{% block style %}<link rel="stylesheet" type="text/css" href="/messageboard/files/threadliststyle.css?text/css" />{% endblock %}

{% block pagetitle %}{{ appname }}{% endblock %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
	<a href="/messageboard/create?&type=thread&parentkey={{ section.key }}">New Topic</a><br />
	{% for t in section.thread_set %}
		<div class="thread">
			<div class="threadtitle"><a href="/messageboard/thread?&threadkey={{ t.key }}">{{ t.title }}</a></div>
			<div class="threaddate">Updated {{ t.dateupdated|date:"D M d, Y P" }}</div>
			<div class="threadcount">{{ t.GetCount }}</div>
		</div>
	{% endfor %}
{% endblock %}